<!-- header -->
<div class="header" role="banner">
  <span>Task Manager</span>
  <div class="spacer"></div>
  <a href="#" (click)="addList()">+ add another list</a>
</div>

<div class="content" role="main">
  <div class="list-container">
    <app-task-list
      *ngFor="let tasklist of taskListData"
      [taskList]="tasklist"
      (addTaskEvent)="addTask($event)"
    ></app-task-list>
  </div>
</div>
<!-- Add Task Modal -->
<div id="addTaskModal" role="dialog" class="modal" *ngIf="showAddCard">
  <!-- Modal content -->
  <div class="modal-content">
    <app-add-card
      (saveTask)="saveTask($event)"
      (cancel)="closeModal()"
    ></app-add-card>
  </div>
</div>
<!-- The Modal -->
<div id="addListModal" role="dialog" class="modal" *ngIf="showListForm">
  <!-- Modal content -->
  <div class="modal-content">
    <app-add-list
      (saveList)="saveList($event)"
      (cancel)="closeModal()"
    ></app-add-list>
  </div>
</div>
